container_commands:
  01_migrate:
    command: "django-admin.py makemigrations --noinput"
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_seedenumerations:
    command: "django-admin.py loaddata seedEnums.json"
    leader_only: true
  03_seedsampleuser:
    command: "django-admin.py loaddata seedUsers.json"
    leader_only: true
  04_collectstatic:
    command: "django-admin collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: iotaProject/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: iotaProject.settings
